* {
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top:100px;
  font-size:40px;
  margin-bottom:80px;
}
#container {
  width:1000px;
  margin:0 auto;
}
p {
  font-size: 20px;
  margin-bottom:15px;
  line-height: 28px;
}
img {
  width:300px;
  margin:0 auto;
}

h2 {
  margin-bottom:5px;
  margin-top:30px;
}

#spacer {
  height:200px;
}